<link rel="stylesheet" type="text/css" href="~/static/event-calendar/css/evo-calendar.min.css" />
<link rel="stylesheet" type="text/css" href="~/static/event-calendar/css/evo-calendar.royal-navy.min.css" />
<link rel="stylesheet" type="text/css" href="~/static/event-calendar/demo/demo.css" />
<div id="demoEvoCalendar"></div>